/* Custom color theme properties */
:root {
  --f7-theme-color: #ff5151;
  --f7-theme-color-rgb: 255, 81, 81;
  --f7-theme-color-shade: #ff2828;
  --f7-theme-color-tint: #ff7a7a;
}

/* Your app custom styles here */