/* Your app custom styles here */
:root .dark, :root.dark {
    --f7-page-bg-color: #111;
    --f7-bars-bg-color: #161616;
    --f7-bars-bg-color-rgb: 2,2,2;
}
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.wild-flower, .wild-flower-content, .wild-flower-branding {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Your UDID Is: */
.wild-flower .wild-flower-content p:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: #FFFFFF;
}

/* UDID String: */
.wild-flower .wild-flower-content h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #ADADAD;
}

/* Device.Observer Notice */
.wild-flower .wild-flower-content p:nth-child(3) {
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #676767;
}